.lvl-button {
  padding: 10px 15px;
  border: 1px solid #8080807a;
  background-color: #0d738c;
  color: #fff;
  cursor: pointer;
  margin: 5px 0;
}

.lvl-button-is-selected {
  background-color: #8ddcef;
}